<section class="home-cta">
  <div class="home-cta__container">
    <div class="home-cta__content">
      <div class="home-cta__text">
        <h2 class="home-cta__title">
          {{ title }}
        </h2>

        <p class="home-cta__description">
          {{ description }}
        </p>
      </div>

      <div class="home-cta__actions">
        <a class="home-cta__button" [routerLink]="buttonLink">
          {{ buttonText }}
        </a>
      </div>
    </div>

    <div class="home-cta__circle"></div>
  </div>
</section>